* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* very important step */
    /* overflow-y: hidden; */
    z-index: 100;
    
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Gilroy",sans-serif;
    color: #778a99;
}
body {
    min-width:560px;   
}
.outer {
    /* padding: 5rem; */
    height: 100vh;
}
.remove-margin {
    margin-left: 0!important;
    margin-right: 0!important;
    display: flex;
}

.form-style {
    background-color: #f1f4f7;
    width: 100%;
    height: 100%;
    max-width: 67rem;
    padding: 6rem 10rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.block-width {
    /* max-width: 72rem!important; */
    width: 100%;
    padding-left: 5rem !important; 
    padding-right: 0!important; 
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
}
.center {
    margin: auto 0;
    position: relative;
    display: block;
  }

.search-bar {
    position: relative;
    margin: auto 0;
    line-height: 1rem!important;
    /* height: 10px;; */
}
.search-bar h2 {
    margin-bottom: 2.8rem;
    font-size: 4rem!important;
    margin:0 auto;
    padding: 0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 800!important;
    font-family: "Gilroy", sans-serif;
    color: #778a99;
}
.search-bar label {
    display: none;

}

input:focus{
    outline: none!important;
}

.search {
    display: block;
    width: 100%;
    max-width: 46rem;
    padding: 1rem 2rem 1rem 5.6rem!important;
    /* padding: 1rem 1rem 1rem 5.6rem!important; */
    /* line-height: 1rem; */
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0 0 30px 0 rgba(43,86,112,.1);
}

.search-icon {
    color:  #D3d3d3;
    margin-top: 6px;
    margin-left: 15px;
    position: absolute;
    font-weight: 300;
    -webkit-text-stroke: 2px white;
}

.subtitle {
    position: relative;
    /* bottom: 10%; */
    -webkit-box-orient: vertical;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none!important;
}

.subtitle-font {
    font-size: 1.4rem;
    font-weight: 300;
    color: #5a7377;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Gilroy",sans-serif;
}

a:hover { 
    text-decoration: none!important;
    color: #5a7377!important;
} 

.color-outer {
    z-index: 99;
    padding-left: 0!important;
    padding-right: 0!important;
    -webkit-box-flex: 1;
    flex: 1;
    display: inline-block;
    overflow-y: hidden;
}

.color-inner {
    position: relative;
    overflow-x: hidden;
    display: block;
    overflow-y: hidden;
    animation: marquee 50s linear infinite;
}

.grid-block {
    width: 76rem;
    top: 5rem;
    left: 5rem;
    position: relative;
    display: block;
    /* animation: marquee 3s linear infinite; */
}


.block-common {
    z-index: 999;
    width: 220px!important;
    padding: 5rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}


.span-5 {
    height: 15rem;
    display: block;
}

.span-6 {
    height: 18rem;
    display: block;
}

.span-7 {
    height: 21rem;
    display: block;
}

.span-8 {
    height: 27rem;
    display: block;
}
.span-9 {
    height: 30rem;
    display: block;
}

.red-color {
    background-color: #f1f4f7;
    transition: 1s;
}



.card-columns {
    column-count: 3;
}

@keyframes marquee {
    0% { top: 0; }
    100% { top: -49.6%; }
  }

  @keyframes scroll {
    0% { transform: translateY(0rem); }
    100% { transform: translateY(-153rem); }
  }

  

  .card-contains {
    border: 0;
    width: 220px!important;
    display: inline-block;
    position: relative;
    padding: 5rem;
    border-radius: 1rem;
    margin-bottom: 3.5rem;
  }

  .detail-block {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem 4rem;
    min-height: 100%;
    background: #fff;
  }

  .search-bar-block {
    margin-left: 6.4rem;
    padding-left: 20px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .search-bar-block label {
    display: none!important;
  }
  .search-bar-block button {
      display: none;
  }


  .search-bar-detail {
    
    display: inline-block;
    width: 100%;
    max-width: 46rem;
    padding: 1rem 2rem 1rem 5.6rem;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 2.5rem;
    vertical-align: middle;
    box-shadow: 0px 0px 25px 0px rgba(43,86, 112, 0.1);
  }

  .search-form {
    height: 7rem;
    width: 100%;
    margin-bottom: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .search-detail-icon {
      margin-left: 1.5rem;
      position: absolute;
      color: #d3d3d3;
      z-index: 1000;
  }

  .search-title {
    margin: 0!important;
    display: flex!important; 
    align-items: flex-end;
    -webkit-box-align: end;
    position: relative;
  }

  .search-title h1 {
    font-family: "Gilroy",sans-serif;
    color: #778a99;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 1rem;
    font-size: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex:1;
  }

  .pin-section {
      display: flex!important;
      align-items: center;
  }

  .pin-title {
    display: inline-block;
  }

  .pin-title h4 small {
    font-size: 1rem;
    font-weight: 700;
    color: #59cc8e;
    margin-right: 1rem;
  }

  .pin-title h4 {
    color: #778a99;
  }

  .icon-space {
      margin-left: 1rem;
      color: #778a99;
  }

  .detail-columns {
    column-count: 4;
  }


.color-block {
    display: inline-block;
    width: 250px!important;
    border-radius: 1rem;
    height: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    
}

.img-common {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    opacity: 1;
}
/* very tricky and interesting, learn this for future,it's better than using bootstrap col-auto */
.img-group {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill,minmax(21rem,1fr));
    grid-auto-rows: .5rem;
    padding-bottom: 4rem;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;
}

.img-block-common {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    background: #f1f4f7;
    display: block;
}
.img-block-16 {
    grid-row-end: span 16;
}
.img-block-13 {
    grid-row-end: span 13;
}
.img-block-11 {
    grid-row-end: span 11;
}
.img-block-10 {
    grid-row-end: span 10;
}
.img-block-9 {
    grid-row-end: span 9;
}
.img-block-8 {
    grid-row-end: span 8;
}
.img-block-7 {
    grid-row-end: span 7;
}
.img-block-6 {
    grid-row-end: span 6;
}
.img-block-5 {
    grid-row-end: span 5;
}

.img-content {
    display: flex;
    width: 100%;
    padding: 2rem;
    height: 100%;
    font-size: 2rem;
    border-radius: inherit;
    align-items: flex-end;
    overflow: hidden;
}

.hex-button {
    display: flex;
    color:#778a99;
    font-family: "Gilroy",sans-serif;
    text-transform: uppercase;
    /* opacity: .2; */
    margin-right: auto;
    margin-left: 0;
    line-height: 1.5rem;
    padding: 0;
    border: none;
    background: none;
    z-index: 999;
    /* transition: opacity .2s ease; */
}

.hex-button:focus {
    outline: 0!important;
}

.hex-button:hover {
    color: white;
}

.pin-button {
    display: inline-block;
    margin-left: 1rem;
    opacity: 0.3;
    position: relative;
    color:#778a99;
    font-family: "Gilroy",sans-serif;
    padding: 0;
    border: none;
    background: none;
    line-height:0;
    z-index: 999;
}

.pin-button:hover {
    color: white;
}

.pin-button:focus {
    outline: 0!important;
}

.image-button {
    display: inline-block;
    line-height: 0;
    color:#778a99;
    margin-left: 2rem;
    opacity: 0.4;
}
.image-button button {
    padding: 0;
    border: none;
    background: none;
    z-index: 999;
}

.fa-image {
    color:#778a99;
}

.image-button:hover .figure-detail .img-color-style{
  opacity: 1;
}



.figure-detail {
    width: 100%;
    height: 100%;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    position: absolute;
    transition: 0.4s;
}

.img-color-style {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
}

.color-copy {
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    position: absolute;
    font-size: 2.5rem;
    font-weight: bolder;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    pointer-events: none;
    padding: 0 1rem;
    display: flex;
    height: 100%;
    width: 100%;
    color:white;
    font-family: "Gilroy",sans-serif;
    opacity: 0;
}



@keyframes opacityAnimation {
    0% { opacity: 0; }
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% { opacity: 0;}
  }

  @keyframes expandFeedback {
    0% { opacity: 0; transform: scale(0); }
    90% { opacity: 1; transform: scale(1.1); }
    100% { opacity: 1; transform: scale(1); }
  }



.feedback {
    animation-delay: .7s;
    animation-fill-mode: forwards;
    background: #fff;
    border-radius: 50%;
    bottom: 4rem;
    cursor: pointer;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-size: 1.4rem;
    height: 5.4rem;
    max-width: 5.4rem;
    overflow: hidden;
    position: fixed;
    right: 4rem;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 30px 0 rgba(43,86,112,.25);
    /* animation: feedbackForm 0.3s ease; */
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
    z-index: 9999999;
}

.feedback-icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.feedback-icon:focus {
    outline: none;
}

.feedback-icon img {
    display: flex;
    align-items: center;
    width: 2rem;
    justify-content: center;
    margin: 0 auto;
}

.feedback-text {
    font-size: 1.4rem;
    /* visibility: hidden;
    opacity: 0; */
    width: 100%;
    height: 100%;
    transition: all .2s ease;
    display: none;
}

.textarea-temp {
    background: #fff;
    border-radius: 2.5rem;
    border: 0;
    color: #778a99;
    font-size: inherit;
    height: 11.5rem;
    line-height: 2rem;
    font-family: inherit;
    outline: none;
    padding: 2.5rem;
    resize: none;
    width: 100%;
}

@keyframes feedbackForm {
    0% { height: 5.4rem; min-width: 5.4rem; border-radius: 50%;}
    100% { height: 23rem; min-width: 27rem; border-radius: 2rem;}
  }

  @keyframes closefeedbackForm {
    0% { height: 23rem; min-width: 27rem; border-radius: 2rem;}
    100% { height: 5.4rem; min-width: 5.4rem; border-radius: 50%;}
  }

.emoji-list {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 1.5rem 0 0;
    padding: .8rem 2.5rem;
    background-color: #f5f5f5;
}

.emoji-btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    text-align: center;
}

.emoji-btn:focus {
    outline: 0!important;
}

.send-form {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    margin-left: auto;
    padding: 1rem 1.5rem;
    width: 100%;
}

.send-btn {
    display: flex;
    border: 0;
    background-color: transparent;
    color: #adb6bd;
    font-family: "Gilroy",sans-serif;
    padding: 1rem;
}
.send-btn:focus {
    outline: 0!important;
}

.close-btn {
    display: flex;
    border: 0;
    background-color: transparent;
    padding: 1rem;
}
.close-btn:focus {
    outline: 0!important;
}

.close-img {
    width: 1rem;
    height: 1rem;
}

.pin-grid {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: 6.4rem;
    background: #f1f4f7;
    border: .1rem dashed #b4babe;
    border-radius: 1rem;
    padding: 2rem;
    align-items: center;
    margin: 3.5rem 0;
    -webkit-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.pin-block {
    background: #e0e4e9;
    border: 1px solid #cfd3d8;
    /* display: flex; */
    display: none;
    align-items: center;
    background-color: #e0e4e9;
    color: rgba(0,0,0,.2);
    font-size: 2rem;
    line-height: 1;
    padding: 0 2rem;
    box-shadow: 0 10px 20px 0 rgba(208,223,232,.35);
    border-radius: 1rem;
    color: rgba(0,0,0,.2);
    height: 7rem;
    display: n;
    -webkit-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.pin-block span {
    text-transform: uppercase;
}
.delete-pin {
    margin-left: auto;
    border: 0;
    background-color: transparent;

}

.delete-pin svg {
    height: 1.8rem;
    width: 1.8rem;
}

.delete-pin:focus {
    outline: 0;
}

